@mixin min {
    @media (min-width: 1000px) {
      @content;
    }
  }
  
  .about-page {
    @include min {
      height: 95vh;
      min-height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  
  .text-zone--about {
    flex: 1;

    h1 {
      text-align: center;
    }

    .container {
      padding: 0 20px;
    }
  
    @include min {
      max-width: 480px;
    }
  }
  
  .stage-cube-cont {
    text-align: center;
    flex: 1;
  }
  
  .cubespinner {
    display: inline-block;
    position: relative;
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    width: 200px;
    height: 200px;
  
    div {
      position: absolute;
      height: 100%;
      width: 100%;
      border: 1px solid #ccc;
      background: rgba(255, 255, 255, 0.4);
      text-align: center;
      font-size: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 20px 0px lightyellow;
    }
  
    .face1 {
      transform: translateZ(100px);
      color: #dd0031;
    }
    .face2 {
      transform: rotateY(90deg) translateZ(100px);
      color: #f06529;
    }
    .face3 {
      transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
      color: #28a4d9;
    }
    .face4 {
      transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
      color: #5ed4f4;
    }
    .face5 {
      transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
      color: #efd81d;
    }
    .face6 {
      transform: rotateX(-90deg) translateZ(100px);
      color: #ec4d28;
    }
  }

form {
  width: 100%;
  margin-bottom: 50px;

  .input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;

    label {
      margin-bottom: 5px;
      font-size: 16px;
      cursor: pointer;
    }

    input, select, textarea {
      width: 100%;
      border: none;
      border: 1px solid #ffd700;
      border-radius: 7px;
      padding: 10px;
      color: #ffd700;
      background-color: transparent;
      box-sizing: border-box;

      &:focus {
        outline: none;
        box-shadow: 0 0 5px #ffd700;
      }
    }

    textarea {
      resize: none;
    }

    select {
      cursor: pointer;

      option {
        padding: 10px;
        color: #444;
        cursor: pointer;
      }
    }
  }
}

.form-button {
  width: 100%;
  border: none;
  border-radius: 7px;
  background-color: aliceblue;
  color: #444;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: #ffd700;
  }
}

.form-loader {
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #ffd700; /* Blue */
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}